# packages in environment at C:\Users\Joanm\.conda\envs\chatbot-imp:
#
# Name                    Version                   Build  Channel
streamlit-chat            0.0.2.1                  pypi_0    pypi